body, header, nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;

  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;

  height: 3000px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0; /* 상단에 위치 */
  left: 0; /* 왼쪽 끝 */
  right: 0; /* 오른쪽 끝 */
  height: 120px;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4.5px;

  margin: 28px 0px 0px 80px;
}

.menu {
  font-size: 24px;
  margin: 28px 90px 0px 0px;
}

.menu a {
  color: white;
  text-decoration: none; /* 밑줄 없애기 */
  font-weight: 400;
  margin: 0 10px;
}

/* 이미지를 배경으로 설정 */
.image-container::before {
  content: "";
  display: block;
  background-image: url('./source/img/MainBG.png');; /* 이미지 경로 */
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  width: 100%;
  height: 984px;
  z-index: -1; /* 텍스트가 이미지 위에 오도록 설정 */
}

.image-text {
  position: absolute; /* 절대 위치를 사용하여 정확한 위치 지정 */
  bottom: 172px; /* 아래에서 20px의 위치 */
  left: 120px; /* 왼쪽에서 20px의 위치 */
}

.text {
  margin-bottom: 0px; /* 각 텍스트 블록 사이의 공간을 추가합니다. */
  display: block; /* 블록 레벨 요소로 만들어 줄 바꿈 효과를 자동으로 적용합니다. */
  font-size: 24px;
}

.day {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.76px;
}

/* 추가적으로 특정 클래스에 대한 스타일을 더 세밀하게 조정할 수 있습니다. 예를 들어: */
.title {
  font-size: 128px;
  font-weight: 700;
}

.caption {
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.528px;
}

.centered-group {
  margin-top: 20px; /* image-container와의 간격 조정 */
  padding-left: 120px; /* 일관된 정렬을 위해 */
  display: block;
}

.text-kr {
  color: #FFF;
  font-family: "Pretendard Variable";
  font-style: normal;
}

.text-kr p {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  line-height: 150%; /* 54px */
  letter-spacing: 0.792px;

  margin-top: 440px;
  margin-bottom: 440px;
}

.image-group {
  display: flex; /* Flex 컨테이너 설정 */
  justify-content: space-between; /* 내부 요소들 사이에 공간을 균등하게 배분 */
  align-items: center; /* 세로 축 중앙 정렬 */
}

.image-group img {
  margin-right: 280px;
  width: 40%; /* 이미지의 너비를 40%로 설정 */
  height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
}

.gif-text {
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 요소들을 수직 방향으로 정렬 */

  margin-left: 480px;
  margin-top: -600px;
}

.image-group p {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
}

.image-group .text-big {
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
}

.gif-text-bottom p {
  position: absolute;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.528px;

  width: 800px;
  margin-top: 500px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .logo {
      height: 30px;
  }

  nav button {
      padding: 5px 10px;
  }
}
