body, header, nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  padding-top: 36px;
  padding-bottom: 33px;
  padding-left: 320px;
  height: 44px;
}

nav button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #0056b3;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .logo {
      height: 30px;
  }

  nav button {
      padding: 5px 10px;
  }
}
